.container .title {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .query-text {
    color: #f7d354;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.movies-container div {
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
}

.movies-container div img {
    max-width: 100%;
}

.movies-container div img,
.movies-container h2,
.movies-container div p {
    margin-bottom: 1rem;
}

.movies-container div svg {
    color: #f7d354;
}


.movies-container div a{
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding:1rem 0.5rem;
    align-items: center;
    transition: 0.4s;
    text-align: center;
    font-weight: bold;
}

.movies-container div a:hover {
    background-color: transparent;
    color: #f7d354;

}
/*
@media (max-width:1180px ) and (min-width:820px) {
    .movies-container { 
        display: flex;
        width: 100rem;
        flex-direction: column;
        justify-content: center;
        
    }
}

@media (max-width:1024px ) and (min-width:768px) {
    .movies-container {
        margin-left: 11rem;
    }
} ================================================ESTA É A RESPONVISIVDADE DO IPAD MINI, MAS CASO E
*/


@media (max-width: 768px) {

    #navbar h2 a {
        font-size: 1rem;
    }

    .movies-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100rem;
    }

    img {
        width: 20rem;
    }

    h3 {
        text-align: center;
        justify-content: center;
    }

     p {
        text-align: center;
    }
}

@media (max-width: 360px) {

    p {
        width: 21rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .movies-container {
        width: 66rem;
    }
}